<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <div th:replace="../templates/common/layout :: Title"></div>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
<!--    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">-->
    <link href="vendor/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="../templates/common/layout :: Sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="../templates/common/layout :: TopBar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><p>楼栋列表</p></h6>
                        </div>
                        <div class="card-body">
                            <div id="toolbar">
                                <button id="addBuildingButton" class="btn btn-success">新增楼栋</button>
                            </div>
                            <div class="table-responsive">
                                <table
                                    id="table"
                                    data-toggle="table"
                                    data-height="460"
                                    data-pagination="true"
                                    data-side-pagination="server"
                                    data-show-refresh="true"
                                    data-toolbar="#toolbar"
                                    data-buttons="buttons"
                                    data-buttons-class="primary"
                                    data-query-params="queryParams"
                                    data-response-handler="responseHandler"
                                    data-page-list="[10, 25, 50, 100, 200]"
                                    data-url="http://127.0.0.1:8081/buildings">
                                    <thead>
                                    <tr>
                                        <th data-field="index" data-width="50">序号</th>
                                        <th data-field="buildingName" data-width="250">楼栋名称</th>
                                        <th data-field="memo">简介</th>
                                        <th data-field="operate" data-width="100" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="../templates/common/layout :: Footer"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="../templates/common/layout :: LogoutModal"></div>

    <!--  修改building modal  -->
    <div class="modal fade" id="editBuildingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editBuildingModalTitle">修改信息</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="editBuildingName" class="buildingNameLabel">楼栋名称</label>
                            <input type="text" class="form-control" id="editBuildingName" placeholder="input placeholder">
                        </div>
                        <div class="form-group">
                            <label for="editBuildingMemo" class="memo">简介</label>
                            <input type="text" class="form-control" id="editBuildingMemo" placeholder="input placeholder">
                        </div>
                        <input type='text' id='editBuildingId' style='display:none'>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">关闭</button>
                    <button id="submitEditBuildingFormButton" type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!--  新增building modal  -->
    <div class="modal fade" id="addBuildingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBuildingModalTitle">新增楼栋</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="addBuildingName" class="buildingNameLabel">楼栋名称</label>
                            <input type="text" class="form-control" id="addBuildingName">
                        </div>
                        <div class="form-group">
                            <label for="addBuildingMemo" class="buildingMemoLabel">简介</label>
                            <input type="text" class="form-control" id="addBuildingMemo">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">关闭</button>
                    <button id="clickSubmitAddBuildingFormButton" type="button" class="btn btn-primary">新增</button>
                </div>
            </div>
        </div>
    </div>

    <!--  查询building信息 modal  -->
    <div class="modal fade" id="searchBuildingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchBuildingModalTitle">查询条件</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="searchBuildingName" class="buildingNameLabel">楼栋名称</label>
                            <input type="text" class="form-control" id="searchBuildingName">
                        </div>
                        <div class="form-group">
                            <label for="searchBuildingMemo" class="buildingMemoLabel">简介</label>
                            <input type="text" class="form-control" id="searchBuildingMemo">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="clearSearchBuildingFormButton" type="button" class="btn btn-secondary">清空</button>
                    <button id="searchBuildingFormButton" type="button" class="btn btn-primary">查询</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="vendor/bootstrap-table/bootstrap-table-toolbar.min.js"></script>

    <script>
        var $table = $('#table')
        // 返回的数据添加序号的
        function responseHandler(res) {
            res.rows.forEach(function (row, i) {
                row.index = i + 1
            })
            return res
        }

        function operateFormatter(value, row, index) {
            return [
                '<a id="editBuildingButton" class="edit" href="javascript:void(0)" title="编辑">',
                '<i class="fa fa-edit"></i>',
                '</a>  ',
                '<a id="deleteBuildingButton" class="remove" href="javascript:void(0)" title="删除">',
                '<i class="fa fa-trash"></i>',
                '</a>'
            ].join('')
        }

        window.operateEvents = {
            'click #editBuildingButton': function (e, value, row, index) {
                document.getElementById("editBuildingName").value = row.buildingName;
                document.getElementById("editBuildingMemo").value = row.memo;
                document.getElementById("editBuildingId").value = row.buildingId;
                $('#editBuildingModal').modal('show')
            },
            'click #deleteBuildingButton': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'index',
                    values: [row.index]
                })
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8081/buildings/delete/" + row.buildingId,
                    data: { page: $("#page").val(), limit: 5 },
                    dataType: "JSON",
                    success: function(result) {}
                });
            }
        }

        function queryParams(params) {
            params.buildingName = document.getElementById("searchBuildingName").value;
            params.memo = document.getElementById("searchBuildingMemo").value ;
            return params
        }

        <!-- 各种按钮事件 -->
        $(function () {
            $("#submitEditBuildingFormButton").click(function(){
                var buildingJson = {
                    buildingName : document.getElementById("editBuildingName").value,
                    memo : document.getElementById("editBuildingMemo").value ,
                    buildingId : document.getElementById("editBuildingId").value
                };
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8081/buildings/update",
                    data: buildingJson,
                    dataType: "JSON",
                    success: function(result) {}
                });
                alert("信息提交成功");
                $table.bootstrapTable('refresh');
            });

            $("#searchBuildingFormButton").click(function () {
                $table.bootstrapTable('refresh');
                $('#searchBuildingModal').modal('hide');
            });

            $("#clearSearchBuildingFormButton").click(function () {
                document.getElementById("searchBuildingName").value = '';
                document.getElementById("searchBuildingMemo").value = '';
            });

            $("#addBuildingButton").click(function () {
                document.getElementById("addBuildingName").value = '';
                document.getElementById("addBuildingMemo").value = '';
                $('#addBuildingModal').modal('show')
            });

            $("#clickSubmitAddBuildingFormButton").click(function(){
                var buildingJson = {
                    buildingName : document.getElementById("addBuildingName").value,
                    memo : document.getElementById("addBuildingMemo").value ,
                };
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8081/buildings/add",
                    data: buildingJson,
                    dataType: "JSON",
                    success: function(result) {}
                });
                alert("信息提交成功");
                $table.bootstrapTable('refresh');
            });
        });

        $(function() {
            $table.bootstrapTable()
        })

        function buttons () {
            return {
                btnSearch: {
                    text: '按条件查询',
                    icon: 'fa-search',
                    event: function () {
                        // alert('Do some stuff to e.g. add a new row')
                        $('#searchBuildingModal').modal('show')
                    },
                    attributes: {
                        title: '查询'
                    }
                }
            }
        }
    </script>
</body>

</html>