<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <div th:replace="../templates/common/layout :: Title"></div>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="../templates/common/layout :: Sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="../templates/common/layout :: TopBar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><p>学生列表</p></h6>
                        </div>
                        <div class="card-body">
                            <div id="toolbar">
                                <button id="addStudentButton" class="btn btn-success">新增学生</button>
                            </div>
                            <div class="table-responsive">
                                <table
                                    id="table"
                                    data-toggle="table"
                                    data-height="460"
                                    data-pagination="true"
                                    data-side-pagination="server"
                                    data-show-refresh="true"
                                    data-toolbar="#toolbar"
                                    data-buttons="buttons"
                                    data-buttons-class="primary"
                                    data-query-params="queryParams"
                                    data-page-list="[10, 25, 50, 100, 200]"
                                    data-url="http://127.0.0.1:8081/students">
                                    <thead>
                                    <tr>
                                        <th data-field="studentId">学号</th>
                                        <th data-field="studentName">姓名</th>
                                        <th data-field="sex">性别</th>
                                        <th data-field="buildingName">宿舍楼</th>
                                        <th data-field="roomName">寝室编号</th>
                                        <th data-field="phone">电话</th>
                                        <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="../templates/common/layout :: Footer"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="../templates/common/layout :: LogoutModal"></div>

    <!--  新增student modal  -->
    <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addStudentModalTitle">新增学生</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="addStudentId" class="studentIdLabel">学号</label>
                            <input type="text" class="form-control" id="addStudentId">
                        </div>
                        <div class="form-group">
                            <label for="addStudentName" class="studentNameLabel">姓名</label>
                            <input type="text" class="form-control" id="addStudentName">
                        </div>
                        <div class="form-group">
                            <label for="checkboxOnAddStudentSex" class="studentSexLabel">性别</label>
                            <div class="row" id="checkboxOnAddStudentSex">
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="add_student_form_sex_male" name="sexOptionOnAddStudentForm" class="custom-control-input" value="男">
                                        <label class="custom-control-label" for="add_student_form_sex_male">男</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="add_student_form_sex_female" name="sexOptionOnAddStudentForm" class="custom-control-input"  value="女">
                                        <label class="custom-control-label" for="add_student_form_sex_female">女</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <select class="selectpicker form-control"
                                            onchange="initRoomOptions(getValueIdFromOptions('#buildingOptionsOnAddStudentForm'), '#roomOptionsOnAddStudentForm')"
                                            id="buildingOptionsOnAddStudentForm" name="buildingOptionsOnAddStudentForm">
                                        <option value="">--请选择楼栋--</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="selectpicker form-control" id="roomOptionsOnAddStudentForm" name="roomOptionsOnAddStudentForm">
                                        <option value="">--请选择房间--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addStudentPhone" class="studentPhoneLabel">手机</label>
                            <input type="text" class="form-control" id="addStudentPhone">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">关闭</button>
                    <button id="clickSubmitAddStudentFormButton" type="button" class="btn btn-primary">新增</button>
                </div>
            </div>
        </div>
    </div>

    <!--  修改student modal  -->
    <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editStudentModalTitle">修改信息</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input id="editStudentKeyId" type="text"style="display:none" >
                        <div class="form-group">
                            <label for="editStudentId" class="studentIdLabel">学号</label>
                            <input type="text" class="form-control" id="editStudentId">
                        </div>
                        <div class="form-group">
                            <label for="editStudentName" class="studentNameLabel">姓名</label>
                            <input type="text" class="form-control" id="editStudentName">
                        </div>
                        <div class="form-group">
                            <label for="checkboxOnEditStudentSex" class="studentSexLabel">性别</label>
                            <div class="row" id="checkboxOnEditStudentSex">
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="edit_student_form_sex_female" name="sexOptionOnEditStudentForm" class="custom-control-input" value="男">
                                        <label class="custom-control-label" for="edit_student_form_sex_female">男</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="edit_student_form_sex_male" name="sexOptionOnEditStudentForm" class="custom-control-input"  value="女">
                                        <label class="custom-control-label" for="edit_student_form_sex_male">女</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <select class="selectpicker form-control"
                                            onchange="initRoomOptions(getValueIdFromOptions('#buildingOptionsOnEditStudentForm'), '#roomOptionsOnEditStudentForm')"
                                            id="buildingOptionsOnEditStudentForm" name="buildingOptionsOnEditStudentForm">
                                        <option value="">--请选择楼栋--</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="selectpicker form-control" id="roomOptionsOnEditStudentForm" name="roomOptionsOnEditStudentForm">
                                        <option value="">--请选择房间--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editStudentPhone" class="studentPhoneLabel">手机</label>
                            <input type="text" class="form-control" id="editStudentPhone">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">关闭</button>
                    <button id="submitEditStudentFormButton" type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!--  查询student信息 modal  -->
    <div class="modal fade" id="searchStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchStudentModalTitle">查询条件</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="searchStudentId" class="studentIdLabel">学号</label>
                            <input type="text" class="form-control" id="searchStudentId">
                        </div>
                        <div class="form-group">
                            <label for="searchStudentName" class="studentNameLabel">姓名</label>
                            <input type="text" class="form-control" id="searchStudentName">
                        </div>
                        <div class="form-group">
                            <label for="checkboxOnSearchStudentSex" class="studentSexLabel">性别</label>
                            <div class="row" id="checkboxOnSearchStudentSex">
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="search_student_form_sex_male" name="sexOptionOnSearchStudentForm" class="custom-control-input" value="男">
                                        <label class="custom-control-label" for="search_student_form_sex_male">男</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="search_student_form_sex_female" name="sexOptionOnSearchStudentForm" class="custom-control-input"  value="女">
                                        <label class="custom-control-label" for="search_student_form_sex_female">女</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <select class="selectpicker form-control"
                                            onchange="initRoomOptions(getValueIdFromOptions('#buildingOptionsOnSearchStudentForm'), '#roomOptionsOnSearchStudentForm')"
                                            id="buildingOptionsOnSearchStudentForm" name="buildingOptionsOnSearchStudentForm">
                                        <option value="">--请选择楼栋--</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="selectpicker form-control" id="roomOptionsOnSearchStudentForm" name="roomOptionsOnSearchStudentForm">
                                        <option value="">--请选择房间--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="searchStudentPhone" class="studentPhoneLabel">手机</label>
                            <input type="text" class="form-control" id="searchStudentPhone">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="clearSearchStudentFormButton" type="button" class="btn btn-secondary">清空</button>
                    <button id="searchStudentFormButton" type="button" class="btn btn-primary">查询</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="vendor/bootstrap-table/bootstrap-table-toolbar.min.js"></script>
    <script src="vendor/bootstrap-select/bootstrap-select.min.js"></script>

    <!-- 下拉框插件相关-->
    <script>
        $(document).ready(function(){
            var buildings = getBuildings();
            initBuildingOptions("#buildingOptionsOnAddStudentForm", buildings, '#roomOptionsOnAddStudentForm');
            initBuildingOptions("#buildingOptionsOnSearchStudentForm", buildings, '#roomOptionsOnSearchStudentForm');
            initBuildingOptions("#buildingOptionsOnEditStudentForm", buildings);
        });// onReady

        function getValueIdFromOptions(elementId) {
            var idSelect = $(elementId).val();
            var id = idSelect == '' ? 0 : idSelect; // 如果是空窜，则改成0
            return id;
        }

        function getBuildings() {
            var buildings;
            $.ajax({
                url : "http://127.0.0.1:8081/buildings?offset=0&limit=1000",
                async : false,
                type : "GET",
                success : function(result) {
                    buildings = result.rows;
                },
                error : function(result) {
                    alert("获取楼栋列表数据出错")
                }
            });// ajax
            return buildings;
        }

        function initBuildingOptions(buildingOptionElementId, buildings, disableRoomOptionElementId){
            var buildingOptionsElement = $(buildingOptionElementId);
            buildingOptionsElement.find("option:not(:first)").remove();
            for (var i in buildings) {
                var building = buildings[i];
                var optionText = building.buildingName;
                var optionValue = building.buildingId;
                buildingOptionsElement.append(new Option(optionText, optionValue));
            }
            // 刷新buidling select
            buildingOptionsElement.selectpicker('refresh');
            // 禁用room的 select
            if(disableRoomOptionElementId) {
                $(disableRoomOptionElementId).prop('disabled', true);
                $(disableRoomOptionElementId).selectpicker('refresh');
            }
        }

        function getRoomsByBuildingId(buildingId) {
            var rooms;
            $.ajax({
                url : "http://127.0.0.1:8081/rooms?offset=0&limit=1000&buildingId=" + buildingId,
                async : false,
                type : "GET",
                success : function(result) {
                    rooms = result.rows;
                }
            });// ajax
            return rooms;
        }

        function initRoomOptions(buildingId, optionsElementId) {
            // 当楼栋变动时，初始化房间
            var selectObj = $(optionsElementId);
            if (buildingId == '') {
                // 如果选了选了默认选项，则清空后面的选项
                selectObj.find("option:not(:first)").remove();
                selectObj.prop('disabled', true);
                selectObj.selectpicker('refresh');
            } else {
            // 初始化房间选项
                selectObj.prop('disabled', false);
                selectObj.find("option:not(:first)").remove();
                var rooms = getRoomsByBuildingId(buildingId);
                for (var i in rooms) {
                    var roomObj = rooms[i];
                    var optionValue = roomObj.roomId;
                    var optionText = roomObj.roomName;
                    selectObj.append(new Option(optionText, optionValue));
                }
                // 刷新select
                selectObj.selectpicker('refresh');
            }
        }
    </script>

    <!-- 表格相关 -->
    <script>
        var $table = $('#table')

        function operateFormatter(value, row, index) {
            return [
                '<a id="editStudentButton" class="edit" href="javascript:void(0)" title="编辑">',
                '<i class="fa fa-edit"></i>',
                '</a>  ',
                '<a id="deleteStudentButton" class="remove" href="javascript:void(0)" title="删除">',
                '<i class="fa fa-trash"></i>',
                '</a>'
            ].join('')
        }

        window.operateEvents = {
            'click #editStudentButton': function (e, value, row, index) {
                document.getElementById("editStudentId").value = row.studentId;
                document.getElementById("editStudentKeyId").value = row.id;
                document.getElementById("editStudentName").value = row.studentName;
                document.getElementById("editStudentPhone").value = row.phone;
                $('input[name="sexOptionOnEditStudentForm"]').prop('checked', row.sex);
                $('#buildingOptionsOnEditStudentForm').selectpicker('val', '' + row.buildingId);
                initRoomOptions(row.buildingId, '#roomOptionsOnEditStudentForm')
                $('#roomOptionsOnEditStudentForm').selectpicker('val', '' + row.roomId);
                $('#editStudentModal').modal('show')
            },
            'click #deleteStudentButton': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row.id]
                })
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8081/students/delete/" + row.id,
                    data: { page: $("#page").val(), limit: 5 },
                    dataType: "JSON",
                    success: function(result) {}
                });
            }
        }

        function queryParams(params) {
            params.studentId = document.getElementById("searchStudentId").value;
            params.studentName = document.getElementById("searchStudentName").value;
            params.sex = $('input[name="sexOptionOnSearchStudentForm"]:checked').val();
            params.buildingId = $("#buildingOptionsOnSearchStudentForm").val();
            params.roomId = $("#roomOptionsOnSearchStudentForm").val();
            params.phone = document.getElementById("searchStudentPhone").value;
            return params
        }

        <!-- 各种按钮事件 -->
        $(function () {
            $("#submitEditStudentFormButton").click(function(){
                var studentJson = {
                    id : document.getElementById("editStudentKeyId").value,
                    studentId : document.getElementById("editStudentId").value,
                    studentName : document.getElementById("editStudentName").value,
                    sex : $('input[name="sexOptionOnEditStudentForm"]:checked').val(),
                    buildingId : getValueIdFromOptions("#buildingOptionsOnEditStudentForm"),
                    roomId : getValueIdFromOptions("#roomOptionsOnEditStudentForm"),
                    phone : document.getElementById("editStudentPhone").value
                };
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8081/students/update",
                    data: studentJson,
                    dataType: "JSON",
                    success: function(result) {
                        alert("信息提交成功");
                        $table.bootstrapTable('refresh');
                    }
                });
            });

            $("#searchStudentFormButton").click(function () {
                $table.bootstrapTable('refresh');
                $('#searchStudentModal').modal('hide');
            });

            $("#clearSearchStudentFormButton").click(function () {
                document.getElementById("searchStudentId").value = '';
                document.getElementById("searchStudentName").value = '';
                $('input[name="sexOptionOnSearchStudentForm"]').prop('checked', false);
                // 重置add表单的下拉框
                $("#buildingOptionsOnSearchStudentForm").selectpicker('val', '');
                $("#roomOptionsOnSearchStudentForm").find("option:not(:first)").remove();
                $("#roomOptionsOnSearchStudentForm").prop('disabled', true);
                $("#roomOptionsOnSearchStudentForm").selectpicker('refresh');
                document.getElementById("searchStudentPhone").value = '';
            });

            $("#addStudentButton").click(function () {
                document.getElementById("addStudentId").value = '';
                document.getElementById("addStudentName").value = '';
                document.getElementById("addStudentPhone").value = '';
                $('input[name="sexOptionOnAddStudentForm"]').prop('checked', false);
                // 重置add表单的下拉框
                $("#buildingOptionsOnAddStudentForm").selectpicker('val', '');
                $("#roomOptionsOnAddStudentForm").find("option:not(:first)").remove();
                $("#roomOptionsOnAddStudentForm").prop('disabled', true);
                $("#roomOptionsOnAddStudentForm").selectpicker('refresh');
                $('#addStudentModal').modal('show')
            });

            $("#clickSubmitAddStudentFormButton").click(function(){
                var studentJson = {
                    studentId : document.getElementById("addStudentId").value,
                    studentName : document.getElementById("addStudentName").value,
                    sex : $('input[name="sexOptionOnAddStudentForm"]:checked').val(),
                    buildingId : getValueIdFromOptions("#buildingOptionsOnAddStudentForm"),
                    roomId : getValueIdFromOptions("#roomOptionsOnAddStudentForm"),
                    phone : document.getElementById("addStudentPhone").value
                };
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8081/students/add",
                    data: studentJson,
                    dataType: "JSON",
                    success: function(result) {
                        $table.bootstrapTable('refresh');
                    }
                });
            });
        });

        $(function() {
            $table.bootstrapTable()
        })

        function buttons () {
            return {
                btnSearch: {
                    text: '按条件查询',
                    icon: 'fa-search',
                    event: function () {
                        // alert('Do some stuff to e.g. add a new row')
                        $('#searchStudentModal').modal('show')
                    },
                    attributes: {
                        title: '查询'
                    }
                }
            }
        }
    </script>
</body>

</html>