<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.organization.dormitory.dao.StudentMapper">
  <insert id="addStudent">
    INSERT INTO student (
      student_id,
      student_name,
      sex,
      building_id,
      room_id,
      phone
    )VALUES (
      #{studentId},
      #{studentName},
      #{sex},
      #{buildingId},
      #{roomId},
      #{phone}
    )
  </insert>

  <update id="updateStudent">
    UPDATE student SET
      student_name = #{studentName},
      student_id = #{studentId},
      phone = #{phone},
      building_id = #{buildingId},
      sex = #{sex},
      room_id = #{roomId}
    WHERE id = #{id}
  </update>

  <delete id="deleteStudent">
    DELETE FROM student WHERE student_id = #{studentId}
  </delete>

  <select id="countStudents" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM student s
    <include refid="queryStudentJoinOnTable"/>
    <include refid="studentQueryBuilder"/>
  </select>

  <select id="queryStudents" resultType="cn.organization.dormitory.entity.Student">
    SELECT
        s.*,
        b.building_name,
        r.room_name
    FROM student s
    <include refid="queryStudentJoinOnTable"/>
    <include refid="studentQueryBuilder"/>
    ORDER BY s.id DESC
    LIMIT #{offset}, #{limit}
  </select>

  <sql id="queryStudentJoinOnTable">
    LEFT JOIN building b ON b.building_id = s.building_id
    LEFT JOIN room r ON r.room_id = s.room_id
  </sql>

  <sql id="studentQueryBuilder">
    WHERE 1=1
    <if test="studentName != null">
      AND s.student_name LIKE concat('%', #{studentName}, '%')
    </if>
    <if test="sex != null">
      AND s.sex = #{sex}
    </if>
    <if test="studentId != null">
      AND s.student_id LIKE concat('%', #{studentId}, '%')
    </if>
    <if test="phone != null">
      AND s.phone LIKE concat('%', #{phone}, '%')
    </if>
    <if test="roomId != null">
      AND s.room_id = #{roomId}
    </if>
    <if test="buildingId != null">
      AND s.building_id = #{buildingId}
    </if>
  </sql>
</mapper>